/* Page box */
@page {
    /*size: A4;*/
    margin: 0;
}

@media print {
    /* Reset & color fidelity */
    html, body { margin: 0 !important; padding: 0 !important; }
    body { background: #fff !important; }
    *, *::before, *::after {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    h1, h2, h3 { break-after: avoid; break-inside: avoid; }
    h1 + *, h2 + *, h3 + * { break-before: avoid; }
    p, li { orphans: 2; widows: 2; }
}
