/* Theme tokens */
:root {
    /** Fonts **/
    --font-serif: "Bitter", Georgia, serif;
    --font-serif-sc: "Alegreya SC", Times, serif;
    --font-sans-sc: "Alegreya Sans SC", Roboto, Helvetica, sans-serif;
    --font-sans: "Source Sans 3", Roboto, Helvetica, sans-serif;
    --font-sans-alt: "Overpass", Roboto, Helvetica, sans-serif;
    --font-monospace: "Overpass Mono", monospace;

    /** Body Typography **/
    --body-font-family: var(--font-serif);
    --body-font-size: 10.1pt;
    --body-font-line-height: 1.4;
    --body-font-color: #000;

    /** Headers Typography **/
    --header-font-family: var(--font-serif-sc);
    --header-color: #58180d;
    --header-underline: #d1a347;
    --h1-font-size: 22pt;
    --h1-font-weight: 400;
    --h1-line-height: 1.5;
    --h1-letter-spacing: 0.02em;
    --h2-font-size: 16pt;
    --h2-font-weight: 400;
    --h2-line-height: 1.5;
    --h2-letter-spacing: 0.02em;
    --h3-font-size: 15pt;
    --h3-font-weight: 400;
    --h3-line-height: 1;
    --h3-letter-spacing: 0.01em;
    --h4-font-size: 14pt;
    --h4-font-weight: 500;
    --h4-line-height: 1;
    --h4-letter-spacing: 0.02em;

    /** Tables **/
    --table-font-family: var(--font-sans, sans-serif);
    --table-header-font-weight: 500;
    --table-row-color-light: #222;
    --table-row-bg-light: #f1f7f9;
    --table-row-color-dark: #222;
    --table-row-bg-dark: #d7e8ee;

    /** Blockquote (read-aloud) **/
    --quote-box-background-color: #faf8ec;
    --quote-box-border-color: #620000;
    --quote-box-font-color: #222;

    /** Page **/
    --page-background: #fff url("../../assets/themes/default/background_texture.png") repeat;
    --page-footer: url("../../assets/themes/default/footer.png");

    /** Page Number **/
    --page-number-font-family: var(--font-serif-sc);
    --page-number-font-size: 14pt;
    --page-number-font-weight: 400;
    --page-number-color: #beb593;

    /** Stat Block **/
    --stat-block-background: #f5f3ee;
    --stat-block-border-color: #afa47a;
    --stat-block-color-accent: #5b160c;
    --stat-block-color-info: #68747b;
    --stat-block-title-font-family: var(--font-sans-sc, sans-serif);
    --stat-block-title-font-size: 18pt;
    --stat-block-title-font-weight: 500;
    --stat-block-title-line-height: 1;
    --stat-block-title-letter-spacing: 0.1em;
    --stat-block-section-title-font-family: var(--font-sans-sc, sans-serif);
    --stat-block-section-title-font-size: 15pt;
    --stat-block-section-title-font-weight: 400;
    --stat-block-section-title-line-height: 1.2;
    --stat-block-section-title-letter-spacing: 0.03em;

    /* Ability Scores */
    --table-physical-bg: #f7f9ff; /* light blue-ish */
    --table-mental-bg:   #fff7fb; /* light magenta-ish */
}