.ability-scores {

}

.ability-scores__title {
    margin: 1mm 0;
    font-weight: 100;
    font-style: italic;
}

.ability-scores__table {
    display: flex;
    flex-wrap: nowrap;
    gap: 3mm;
}

.stat-table {
    margin: 0;
    border: 0;

    font-family: var(--font-sans, sans-serif), sans-serif;
    font-size: 11pt;
    line-height: 1;
}

.stat-table thead, .stat-table tr, .stat-table th, .stat-table tbody, .stat-table td {
    border: 0;
}

.stat-table thead tr th {
    color: #68747b;
    font-weight: 400;
    padding: 1.5mm .5mm 0;
    text-transform: uppercase;
    font-family: var(--font-sans, sans-serif), sans-serif;
    font-size: 8pt;
}
.stat-table tbody tr th {
    text-transform: uppercase;
    /*font-variant: small-caps;*/
    font-weight: 600;
    text-align: left;
}

.stat-table tbody tr {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.stat-table th {
    padding: 1.5mm;
}

.stat-table td {
    padding: 1.5mm 2mm;
}

.stat-table.physical tbody tr th, .stat-table.physical tbody tr td {
    background: #ede6d9;
}
.stat-table.physical td.modifier {
    background: #ded4cc;
}
.stat-table.mental tbody tr th, .stat-table.mental tbody tr td {
    background: #d8dad1;
}
.stat-table.mental td.modifier {
    background: #d0caca;
}
.stat-table > tbody > tr,
.stat-table > tbody > tr:nth-child(odd) {
    color: var(--header-color);
}
