.banner {
    width: 460px;
    height: 100px;

    position: absolute;
    bottom: 200px;
    left: 0;
    z-index: 1;

    background: transparent url("../../assets/themes/default/banner.svg") no-repeat -26px 50%;
    background-size: contain;
}

.banner p {
    font-family: 'Nodesto Caps Condensed', sans-serif;
    font-size: 24pt;
    color: #fff;
    line-height: 1;

    padding: 33px 0 0 8mm;

    overflow: clip;
}

.banner img {
    max-height: 40px;
    vertical-align: middle;
}