.box {
    position: relative;
    display: block;
    box-sizing: border-box;
    /*padding: 12px;*/

    margin-top: 4mm;
}

.box::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    /*width: 320px;*/

    border: none;
    border-image: url("../../../assets/themes/default/box_frame.svg") 80 fill / 36px;
    border-image-slice: 80 fill;
    border-image-width: 36px;
    border-image-repeat: stretch;

    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.box > img {
    display: block;
    width: 320px;
    height: auto;
    object-fit: cover; /* картинка заполняет «окно» рамки */

    --frame-image-mask-corner-radius: clamp(0px, 3%, 15px);
    mask-image:
            linear-gradient(#fff, #fff),
            radial-gradient(circle at left  top,    #fff var(--frame-image-mask-corner-radius), transparent calc(var(--frame-image-mask-corner-radius) + 1px)),
            radial-gradient(circle at right top,    #fff var(--frame-image-mask-corner-radius), transparent calc(var(--frame-image-mask-corner-radius) + 1px)),
            radial-gradient(circle at right bottom, #fff var(--frame-image-mask-corner-radius), transparent calc(var(--frame-image-mask-corner-radius) + 1px)),
            radial-gradient(circle at left  bottom, #fff var(--frame-image-mask-corner-radius), transparent calc(var(--frame-image-mask-corner-radius) + 1px));
    mask-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    mask-position: 0 0, 0 0, 0 0, 0 0, 0 0;
    mask-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%;
    mask-composite: subtract, add, add, add, add;
}
@media print {
    .box > img {
        mask-composite: subtract;
    }
}