/* Force break to the next column inside .page (multi-column container) */
.column-break {
    break-after: column;
}
.column-break + * { margin-top: 0; }

.column-reset {
    column-span: all;
    display: block;
}
.column-reset + * { margin-top: 0; }

/* visual-neutral */
.column-break, .column-reset {
    height: 0;
    margin: 0;
    border: 0;
    padding: 0;
}