/** Page - A4 **/
.page {
    position: relative;
    z-index: 0;

    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 14mm 16mm 18mm 16mm;
    box-sizing: border-box;
    overflow: clip;

    background: var(--page-background, #fff);

    column-count: 2;
    column-gap: 8mm;
    column-fill: balance;
    /*column-fill: auto;*/

    break-after: page; /* ensures page ends at page boundary in print */
}
.page:last-child {
    break-after: auto;
}
.page > :first-child {
    margin-block-start: 0 !important;
}

/** Footer **/
.page:after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    content: '';
    background-image: var(--page-footer);
    background-size: cover;
}
.page:nth-child(even):after {
    transform: scaleX(-1);
}

/** Layouts **/
.page[data-layout="wide"] {
    column-count: 1;
}
.page[data-layout="auto"] {
    column-fill: auto;
}

@media screen {
    .page {
        margin: 16px auto;
        border: 1px solid #ddd;
        border-radius: 12px;
        box-shadow: 0 10px 30px rgba(0,0,0,.08);
    }
}

@media print {
    .page {
        width: auto;
        min-height: 100%;
        height: 100%;

        margin: 0;
        border: 0;
        border-radius: 0;
        box-shadow: none;
    }
}
