.page[data-type="front-cover"] {
    column-count: 1;
    padding-top: 2.5cm;
}
.page[data-type="front-cover"]:after,
.page[data-type="front-cover"] .page-number {
    display: none;
}

.page[data-type="front-cover"] h1 {
    margin: 0;
    font-family: 'Nodesto Caps Condensed', sans-serif;
    font-size: 56pt;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    text-shadow: unset;
    -webkit-text-stroke: 2mm #000;
    paint-order: stroke;
    text-align: center;
}

.page[data-type="front-cover"] h2 {
    margin: 1mm 0;

    font-family: 'Nodesto Caps Condensed', sans-serif;
    font-size: 20pt;
    font-weight: normal;
    line-height: 1;
    color: white;
    letter-spacing: .5mm;
    -webkit-text-stroke: 1.2mm #000;
    paint-order: stroke;
    text-align: center;

    border: none;
}

.page[data-type="front-cover"] .cover {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}

.page[data-type="front-cover"] .footnote {
    position: absolute;
    right: 0;
    bottom: 1.3cm;
    left: 0;
    width: 70%;
    margin: 0 auto;
    font-family: var(--font-sans, sans-serif), sans-serif;
    font-size: 14pt;
    line-height: 1.1;
    color: #fff;
    text-align: center;
    -webkit-text-stroke: .9mm #000;
    paint-order: stroke;
}
