.stat-block {
    position: relative;
    font-family: var(--font-sans, sans-serif), sans-serif;

    padding: 4mm;
    margin: 3mm 0;

    background: var(--stat-block-background, #f5f3ee);
    border: 1px solid var(--stat-block-border-color, #afa47a);
    outline: 1px solid var(--stat-block-border-color, #afa47a);
    outline-offset: -1mm;
    border-radius: 2mm;
    /*filter: drop-shadow(0 0 5px #979AA4);*/

    break-inside: avoid;
}

.stat-block__fake-shadow {
    position: absolute;
    inset: 0;
    background: #fff;
    z-index: -1;
    border-radius: 2mm;
    filter: drop-shadow(0 0 5px #979AA4);
    pointer-events: none;
}

.stat-block__title {
    font-family: var(--stat-block-title-font-family, sans-serif), sans-serif;
    font-size: var(--stat-block-title-font-size, 18pt);
    font-weight: var(--stat-block-title-font-weight, 500);
    line-height: var(--stat-block-title-line-height, 1);
    letter-spacing: var(--stat-block-title-letter-spacing, 0.05em);

    margin: 0;

    border-bottom: 1px solid var(--stat-block-color-accent, #5b160c);
}

.stat-block__meta {
    color: var(--stat-block-color-info, #68747b);
    font-style: italic;
    margin: 1mm 0;
}

.stat-block__attributes {
    color: var(--stat-block-color-accent, #5b160c);
    margin: 2mm 0 0;

    break-inside: avoid;
}
.stat-block__attributes + .stat-block__attributes {
    margin-top: 0;
}
.stat-block__attributes--highlights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6mm;
}
.stat-block__attributes > dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5mm 2.5mm;
    margin: .25mm 0; /** half of gap for vertical **/
}
.stat-block__attributes div {
    display: contents
}
.stat-block__attributes dt,
.stat-block__attributes dd {
    margin: 0;
    break-inside: avoid;
}
.stat-block__attributes dt {
    font-weight: 600;
}
.stat-block__attributes dd {
}

.stat-block__section {

}
.stat-block__section-title,
.stat-block h3 {
    font-family: var(--stat-block-section-title-font-family, sans-serif), sans-serif;
    font-size: var(--stat-block-section-title-font-size, 15pt);
    font-weight: var(--stat-block-section-title-font-weight, 400);
    line-height: var(--stat-block-section-title-line-height, 1.2);
    letter-spacing: var(--stat-block-section-title-letter-spacing, 0.03em);

    border-bottom: 1px solid var(--stat-block-color-accent, #000);

    margin-top: 3mm;
}
.stat-block__section-content {

}

/** ability-scores **/
.stat-block .ability-scores {
    margin: 2mm 0 4mm;
}

/** Layout: Wide **/
.stat-block[data-layout="wide"] {
    column-span: all;
}
.stat-block[data-layout="wide"] .stat-block__title {
    column-span: all;
}
.stat-block[data-layout="wide"] .stat-block__body {
    column-count: 2;
    column-gap: 8mm;
    column-fill: balance;
}

/** Reset **/
.stat-block p + p  {
    text-indent: 0;
}
